body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app {
  width: 360px;
  margin: 0 auto;
}

.title h1 {
  cursor: pointer;
}

.title form {
  margin: 20px 0;
}
.title input {
  font-size: 28px;
  font-weight: 600;
}

.item {
  display: flex;
  justify-content: space-between;
}
.task {
  margin: 4px;
  cursor: pointer;
  font-size: 18px;
}

.done {
  text-decoration: line-through;
}

.task::before {
  content: '';
  padding: 0 5px;
  margin-right: 4px;
}
.done::before {
  background-color: mediumseagreen;
}
.doing::before {
  background-color: orange;
}
.todo::before {
  background-color: lightblue;
}
.remove {
  cursor: pointer;
  visibility: hidden;
}
.item:hover .remove {
  visibility: visible;
}

input {
  outline: none;
  padding: 4px;
  font-size: 18px;
}
.error {
  font-size: 14px;
  font-style: italic;
}
