body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app {
  width: 600px;
  margin: 0 auto;
}
.item {
  display: flex;
  margin: 4px;
}
.item > div:nth-child(2) {
  margin-left: 5px;
  cursor: pointer;
  font-size: 18px;
}

.done + div {
  text-decoration: line-through;
}

.todo,
.doing,
.done {
  height: 20px;
  width: 10px;
}
.done {
  background-color: mediumseagreen;
}
.doing {
  background-color: orange;
}
.todo {
  background-color: lightblue;
}

input {
  outline: none;
  padding: 4px;
  font-size: 18px;
}
.error {
  font-size: 14px;
  font-style: italic;
}

.title h1 {
  cursor: pointer;
}

.title form {
  margin: 20px 0;
}
.title input {
  font-size: 28px;
  font-weight: 600;
}
